@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-4" style="font-size: 2.5rem; font-weight: 600;">
        Welcome, <span style="color: #FF5733; font-weight: bold;">Amjad's</span> Here !!
    </h1>
    <h2 style="font-size: 1.8rem; margin-top: 20px; text-transform: uppercase; letter-spacing: 3px; padding-bottom: 8px; background-color: #008080; display:inline-block; color: #ffffff; padding: 10px;width:50%;">
        MVC-Product-Project
    </h2>

    <img src="~/css/ASP.NET MVC.png" alt="ASP.NET MVC" style="margin-top: 20px; max-width: 90%; height: auto; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0,0,0,0.1);" />
</div>

